@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

h1 {
    font-family: "Poppins";
    margin-bottom: 30px !important;
}

h2 {
    font-family: "Poppins";
    margin: 20px 0 !important;
}

p, div, ul, li, a {
    font-family: "Montserrat";
    font-weight: 400;
    
}

p {
    text-align: justify;
}
.header{
    width: 100%;
}

.headerImg{
    width:100%;
    height:100%;
}

.header .annonce{
   color:white;
   font-family: "Bebas Neue";
   letter-spacing: 3px;
   padding-top: 20px;
   font-size: 18px;
}

.b-sidebar .b-sidebar-header .close {
border:none;
background-color: rgba(0,0,0,0);
}

.mobileMenu {
width: 90%;
margin: 50px auto;
}

.mobileMenu .btn{   
margin-top: 25px;
}
.navSideBar {
    font-size:25px;
    line-height: 40px;
}

.nav-link {
    color:white !important;
}

.nav-link:hover, .nav-link:focus {
    color:rgba(120,237,174) !important;
}

.alertOpening {
    background-color:#5CDAAF!important;
    color:white;
}

.menuButton {
    background-color:#5CDAAF!important;
    border:none !important;
    box-shadow: none !important;
    color:white !important;
    
}

.menuButton:hover {
    background-color:rgba(120,237,174) !important;
}

.b-sidebar .b-sidebar-header .close:hover{
    color:rgba(120,237,174) !important;
}

footer{
    margin-top:50px;
}
.logoContainer{
    margin-bottom:50px;
}
.containerGeneral{
    width: 90%;
    margin: 0 auto;
}
#buttonContainer {
    padding:20px 0;
}
#carouselContainer{
    margin-top: 75px !important;
}

@media screen and (min-width: 750px) {

    .containerGeneral{
        width: 85%;
        margin: 0 auto;
    }
    #carouselContainer{
        width: 50%;
    }
    p, div, ul, li, a {
        font-size: 17px;
    }
  } 

  @media screen and (min-width: 1000px) {
    #buttonContainer {
        padding:30px 0;
    }
    .containerGeneral{
        width: 70%;
        margin: 0 auto;
    }
    #carouselContainer{
        width: 50%;
    }
    p, div, ul, li, a {
        font-size: 20px;
    }
  } 

  @media screen and (min-width: 1200px) {
    #buttonContainer {
        padding:40px 0;
    }
    #carouselContainer{
        width: 40%;
    }
  } 

@media screen and (min-width: 1400px) {
    #buttonContainer {
        padding:50px 0;
    }
    .containerGeneral{
        width: 60%;
        margin: 0 auto;
    }
    #carouselContainer{
        width: 40%;
    }
  } 

  @media screen and (min-width: 1600px) {
    
    .containerGeneral{
        width: 50%;
        margin: 0 auto;
    }
    #buttonContainer {
        padding:50px 0;
    }
    #carouselContainer{
        width: 30%;
    }
    p, div, ul, li, a {
        font-size: 25px;
    }
  } 